<ion-slides pager="false" [options]="slideOpts" *ngIf="slideOpts">
  <ion-slide *ngFor="let movie of movies">
    <ion-card (click)="getMovie(movie)">
      <img [src]="movie.poster_path | imagen" [alt]="movie.title">
      <ion-card-header>
        <ion-card-subtitle>{{ (movie.original_title.length>10) ? (movie.original_title | slice:0:10)+'...' : (movie.original_title) }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Rate: {{ movie.vote_average | number:'1.1-2' }}
        <star-rating [value]="movie.vote_average" 
                     totalstars="10" 
                     checkedcolor="red" 
                     uncheckedcolor="black" 
                     size="12px" 
                     readonly="false" 
                     (rate)="onRate($event)"
          >
        </star-rating>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>