<app-header titulo="Buscar peliculas" [showBackButton]="showBackButton" [searchFavorites]="searchFavorites"></app-header>
<ion-content>
    <ion-card *ngFor="let movie of movies" (click)="getMovie(movie)" class="animate__animated animate__fadeIn">
        <div *ngIf="movies">
            <img [src]="movie.poster_path | imagen" [alt]="movie.title">
            <ion-card-header>
                <ion-card-title>{{ movie.title }}</ion-card-title>    
            </ion-card-header>
            <ion-card-content>
                Rate: {{ movie.vote_average | number:'1.1-2' }}
                <star-rating [value]="movie.vote_average" 
                                totalstars="10" 
                                checkedcolor="red" 
                                uncheckedcolor="black" 
                                size="12px" 
                                readonly="false" 
                                (rate)="onRate($event)"
                    >
                </star-rating>
            </ion-card-content>
        </div>
    </ion-card>
    <div *ngIf="noResults">
        <h1>Resultados no encontrados con el termino: {{ termino }}</h1>
    </div>
</ion-content>