<ion-slides pager="false" [options]="slideOpts" *ngIf="slideOpts" #topSlider>
  <ion-slide *ngFor="let movie of movies">
    <ion-card>
      <img [src]="movie.poster_path | domseguro:'https://image.tmdb.org/t/p/w600_and_h900_bestv2' | noimage:movie" [alt]="movie.title">
      <ion-card-header>
        <ion-card-subtitle>{{ movie.original_title }}</ion-card-subtitle>
        <ion-card-title>{{ movie.title }} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Primera apariencia en {{ movie.release_date | date:'dd MMMM y' }}
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>