
<app-header titulo="Movies" [showBackButton]="showBackButton" [searchFavorites]="searchFavorites"></app-header>

<ion-content [fullscreen]="true">
  
  <ion-grid fixed>
    
    
    <ion-row *ngIf="cartelera.length > 0">
      <h1>On the sceens</h1>
      <ion-col size="12">
        <app-slideshow [movies]="cartelera"></app-slideshow>
      </ion-col>
    </ion-row>
    
    
    <ion-row *ngIf="peliculasMasVotadas.length > 0">
      <h1>Top rated movies</h1>
      <ion-col size="12">
        <app-slideshow-horizontal [movies]="peliculasMasVotadas"></app-slideshow-horizontal>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
